<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body> 
    <div style="width: 60%;align-items: center;align-self: center;align-content: center;" class="container">
        <h6 style="float: left;width: 100%;text-align: left;" class="text-center" ><a th:href="@{/user/profile(userId=${userId})}">◄ Xem thông tin cá nhân</a> </h6><br>
        <div style="width: 100%;float: left;">
            <form style="width: 100%;" method="POST" th:action="@{/home/summit}" th:object="${post}">
            
                <input name="userId"type="hidden" th:value="${userId}" />
                   <input name="content" class="input2" style=" outline:0;
                   width:80%;
                   margin-top:10px;
                   float:inline-start;
                   border-radius: 5px;height: 40px;
                   padding-left: 10px;" type="text"  placeholder="Ghi nội dung muốn đăng!!"
                        autofocus="true"/>
                        
                    
                     <button class="btnSearch" style="width:19%;
                        margin-top:10px;
                        float:inline-end;
                        height: 40px;
                        padding-left: 10px; 
                        border-radius: 5px; 
                        background-image: linear-gradient(to bottom right, #09c6f9, #045de9);" type="submit">Đăng</button>
                
            

          
            </form>
                
        </div>
        <br>
        <br>
        <br>
        <div style="float: left;"></div>
        <div th:each="vo : ${listAllPosts}" style="margin: auto;">
            <div style="box-shadow: 3px 3px 3px rgb(175, 210, 255); margin-bottom: 10px; padding: 10px 20px 20px 20px; border-radius: 10px; background: rgb(255, 255, 255)">
                <h4 th:text="${vo.user.name}"></h4>
                <h6 th:text="${vo.post.dayPost}"></h6>
                <div style="border: solid 1px rgb(67, 148, 255); width: 80%;min-height: 150px; margin: auto;padding: 10px 20px 10px 20px;border-radius: 10px">
                    <p th:text="${vo.post.content}"></p>
                </div>
            </div>
    
        </div>
    </div>
 
    

    
</body>
</html>